.compose_btn {
	position: fixed;
	bottom: 1.5rem;
	right: 1rem;
	border-radius: 50%;
	background-color: rgb(29, 161, 242);
	padding: 1rem;
}
.delete_img {
	position: absolute;
	top: 0.2rem;
	right: 3.3rem;
}
.emoji_icon {
	margin-left: 0.7rem;
	font-size: larger;
}
.horizontal_line {
	height: 12px;
	border-top-width: 1px;
	border-bottom-width: 1px;
}
